.detail-container {
  display: flex;
  justify-content: center;
}

.detail-section {
  background: white;
  border-radius: 10px;
  width: fit-content;
  max-height: 60vh;
  padding: 2%;
  overflow: scroll;
  margin-top: 3%;
}

table {
  border-collapse: collapse;
  table-layout: auto;
}

tr {
  width: fit-content;
}

.table-header, .table-data {
  padding: 1%;
  text-align: center;
  border: 1px black dashed;
}

.table-data {
  width: fit-content !important;
}

.detail-title {
  color: rgba(17,138,178, 1);
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: 1%;
}







