main {
  background:linear-gradient(0deg, rgba(73, 73, 73, .8), rgba(73, 73, 73, 1)), url('../../images/desk.png');
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  height: 100vh;
}

.error-message, .undefined-route  {
  text-align: center;
  margin-top: 5%;
  color: rgba(17,138,178, 1); 
  font-family: 'Courgette';
  background-color: white;
  width: fit-content;
  padding: 2%;
  border-radius: 10px;
  margin-left: 23%;
  font-size: 20px;
}

.undefined-route {
  margin-left: 40% !important;
}


