main {
  background:linear-gradient(0deg, rgba(73, 73, 73, .8), rgba(73, 73, 73, 1)), url('../../images/desk.png');
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  height: 100vh;
}

.undefined-route {
  text-align: center;
  margin-top: 5%;
  font-size: 30px;
  color: rgba(17,138,178, 1); 
  font-family: 'Courgette';
}

