header {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 18vh;
  min-height: 120px;
  background: rgba(239,71,111, .6);
  top: 0;
  width: 100vw;
}

a:link {
  text-decoration: none;
}

.links {
  align-items: center;
  display: flex;
  height: 30px;
} 

.uploaded-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.link-name {
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
  color: white;
  padding: 10px;
} 

.link-name:hover {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}

.app-title {
  margin-top: 2%;
  font-family: 'Courgette';
  font-size: 50px;
  color: white;
}


