.test {
  background-color: white;
  padding: 1%;
  margin: 1%;
  border-radius: 10px;
} 

.chart-section {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}